#tabs > div {
    display: inline-block;
    margin-right: 10px;
}

body {
    background-color: black;
    color: white;
}

textarea {
    background-color: black;
    color: white;
    border: 1px solid white;
}

input[type="text"] {
    background-color: black;
    color: white;
    border: 1px solid white;
}
