body {
  font-family: sans-serif;
  text-align: center;
  background-color: #222;
  color: white;
  margin: 0;
  overflow: hidden;
}

#gameContainer {
  position: relative;
  margin: auto;
  margin-top: 30px;
  background-color: #333;
  width: 400px;
  height: 600px;
  overflow: hidden;
  border: 3px solid white;
}

#block {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #00ccff;
  left: 80px;
  top: 200px;
}

.pipe {
  position: absolute;
  width: 60px;
  background-color: #00ff66;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

#gameOver {
  display: none;
  margin-top: 20px;
  font-size: 24px;
}
